<!-- Bold D&H //product -->
{% if product.metafields.inventory.ShappifyHidden == "true" %}
Product is not available
{% break %}{% endif %}
<!-- // end product D&H -->

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
  <div class="section small-section red text-right hidden-xs">
    <div class="container">
      <i class="fa fa-truck"></i> FREE SHIPPING WHEN 2ND GUARD IS PURCHASED!
    </div><!-- /.container -->
  </div><!-- /.section -->

  {% include 'breadcrumb' %}

  <div class="product-single">
    <div class="container">
		<div class="row">
          <div class="col-sm-8">
            <div class="product-single__photos" id="ProductPhoto">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
            </div>

            <div class="row" id="ProductThumbs">
              {% for image in product.images %}
                <div class="col-xs-4 col-sm-2">
                  <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </div>
              {% endfor %}
            </div>
            
            <hr />
            
            {{ product.description }}
              
              {% if settings.social_sharing_products %}
                <hr class="hr--clear hr--small">
                {% include 'social-sharing' %}
            	<hr />
              {% endif %}
          </div><!-- /.col8 -->
          <div class="col-sm-4">
            {% comment %}
              <h3 itemprop="brand">{{ product.vendor }}</h3>
            {% endcomment %}
            
            <h1 itemprop="name">{{ product.title }}</h1>
            
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="featured-box">
              {% assign variant = product.selected_or_first_available_variant %}

              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            	
              <div class="product-single__prices">
                <h3 id="ProductPrice" class="product-single__price" itemprop="price">
                  {{ product.price | money }}
                </h3>

                {% if product.compare_at_price > product.price %}
                  <s id="ComparePrice" class="product-single__sale-price">
                    {{ product.compare_at_price_max | money }}
                  </s>
                {% endif %}
              </div><!-- /.product-single__price -->
            
              <form action="/cart/add" method="post" data-product-id="{{ product.id }}" enctype="multipart/form-data" id="AddToCartForm" class="shappify_add_to_cart_form">
                <div class="form-group">
                  <select name="id" id="product-select" class="product-single__variants">
                    {% for variant in product.variants %}
                      {% if variant.available %}

                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <small><em>Looking for a Custom Color? <u><a href="/pages/contact-us">Contact Us</a></u></em></small>
                </div><!-- /form-group -->

				{% if settings.display_quantity_dropdown %}
	                <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %} form-group">
	                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
	                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector form-control">
	                </div>
                {% endif %}
                
                <h3><i class="fa fa-plus-circle" style="color:#dd0319;"></i> Upgrades</h3>
                <!-- Bold: Options 3-2 -->
                {% include 'shappify-options' %}
                <!-- // end Options 3-2 -->

                <div class="purchase-section{% if product.variants.size > 1 %} multiple{% endif %}">
	              <div class="purchase">
	                {% unless product.available %}
	                <p>Sold Out</p>
	                {% else %}
	                <input type="submit" id="add-to-cart" class="btn btn btn-primary addtocart" name="add" value="Add to cart" />
	                <div id="cart-animation" style="display:none">1</div>
	                {% endunless %}
	              </div>
	          </div>
              </form>

              
            </div><!-- /itemprop offers -->
          </div><!-- /.col4 -->
		</div><!-- /.row -->

    </div><!-- /container -->
    
    <div class="section big-section gray text-center">
      <div class="container">    	
    	<h3>Impact Videos</h3>
    	
        <div class="row">
          <div class="col-sm-3">
            <div class="video-container">
            	<a href="https://www.youtube.com/watch?v=aQikUU-1Vq0" class="lightbox">
                	<span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                      </span>
                	<div class="shader"></div>
                	<img src="https://img.youtube.com/vi/aQikUU-1Vq0/mqdefault.jpg" alt="" class="aligncenter size-medium wp-image-4192" />
            	</a>
            </div>
            <p class="video-title">Impact Mouthguards: The Instructional Video</p>
          </div><!-- /.col3 -->
          <div class="col-sm-3">
            <div class="video-container">
            	<a href="https://www.youtube.com/watch?v=qP9RQHZTKZc" class="lightbox">
                	<span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                      </span>
                	<div class="shader"></div>
                	<img src="https://img.youtube.com/vi/qP9RQHZTKZc/mqdefault.jpg" alt="" class="aligncenter size-medium wp-image-4192" />
            	</a>
            </div>
            <p class="video-title">Brett "The Spyder" Sbardella Endorsement</p>
          </div><!-- /.col3 -->
          <div class="col-sm-3">
            <div class="video-container">
            	<a href="https://www.youtube.com/watch?v=1tZA2uu3G0A" class="lightbox">
                	<span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                      </span>
                	<div class="shader"></div>
                	<img src="https://img.youtube.com/vi/1tZA2uu3G0A/mqdefault.jpg" alt="" class="aligncenter size-medium wp-image-4192" />
            	</a>
            </div>
            <p class="video-title">Review of Impact Custom Mouthguards</p>
          </div><!-- /.col3 -->
          <div class="col-sm-3">
            <div class="video-container">
            	<a href="https://www.youtube.com/watch?v=ChFdX0K1cac" class="lightbox">
                	<span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                      </span>
                	<div class="shader"></div>
                	<img src="https://img.youtube.com/vi/ChFdX0K1cac/mqdefault.jpg" alt="" class="aligncenter size-medium wp-image-4192" />
            	</a>
            </div>
            <p class="video-title">Review of Impact Mouthguards</p>
          </div><!-- /.col3 -->
        </div><!-- /.row -->
    		
      </div><!-- /.container -->
    </div><!-- /.section -->
    
    <div class="section big-section">
      <div class="container">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div><!-- /.container -->
    </div><!-- /.section -->
     
  </div><!-- /#product-single -->

  {% if settings.product_related_enable %}
    {% include 'related-products' %}
  {% endif %}

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
        add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
        sold_out : "{{ 'products.product.sold_out' | t }}",
        unavailable : "{{ 'products.product.unavailable' | t }}"
      }
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('product-select', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="product-select-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>

{% comment %}
Place this in your product.liquid template, at the bottom.
{% endcomment %}
{% if product.variants.size > 1 %}
<script>
(function($) { 
  var variantImages = {},
    thumbnails,
    variant,
    variantImage,
    optionValue;
    {% for variant in product.variants %}
       variant = {{ variant | json }};
       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
         variantImages[variantImage] = variantImages[variantImage] || {};
         {% for option in product.options %}
           {% assign option_value = variant.options[forloop.index0] %}
           {% assign option_key = 'option-' | append: forloop.index0 %}
           if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
             variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
           }
           else {
             var oldValue = variantImages[variantImage][{{ option_key | json }}];
             if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
               variantImages[variantImage][{{ option_key | json }}] = null;
             }
           }
         {% endfor %}
       }
    {% endfor %}
    $(function() {
      thumbnails = $('img[src*="/products/"]').not(':first');
      if (thumbnails.size()) {
        thumbnails.bind('click', function() {
          var image = $(this).attr('src').split('?')[0].replace(/(_thumb\.)|(_small\.)|(_compact\.)|(_medium\.)|(_large\.)|(_grande\.)/,'.');
          if (typeof variantImages[image] !== 'undefined') {
            {% for option in product.options %}
            optionValue = variantImages[image]['option-{{ forloop.index0 }}'];
            if (optionValue !== null && $('.single-option-selector:eq({{ forloop.index0 }}) option').filter(function() { return $(this).text() === optionValue }).length) {
              $('.single-option-selector:eq({{ forloop.index0 }})').val(optionValue).trigger('change');
            }
            {% endfor %}
          }
        });
      }
    });
})(jQuery);
</script> 
{% endif %}